Named Entity Recognition (NER) With SpaCy

In [1]:
import spacy
from spacy import displacy

/usr/local/lib/python3.8/dist-packages/torch/cuda/__init__.py:497: UserWarning: Can't initialize NVML
  warnings.warn("Can't initialize NVML")

In [16]:
# ! pip install spacy-transformers

In [5]:
# ! python -m spacy download en_core_web_lg
# ! python -m spacy download en_core_web_trf

In [3]:
import spacy_transformers

lg = spacy.load('en_core_web_lg')

In [6]:
txt = "Apple reached an all-time high stock price of 143 dollars this January."

In [7]:
doc_lg = lg(txt)

In [8]:
displacy.render(doc_lg, style='ent', jupyter = True)

In [9]:
spacy.explain('ORG')

'Companies, agencies, institutions, etc.'

In [10]:
doc_lg.ents

(Apple, 143 dollars, this January)

In [11]:
# to extract entities from text

for entity in doc_lg.ents:
    print(f"{entity.label_}: {entity.text}")

ORG: Apple
MONEY: 143 dollars
DATE: this January

In [12]:
# filter all ORGANIZATION in the sentence

# initialize our list
org_list = []
org = 'ORG'
for entity in doc_lg.ents:
    # if label_ is ORG, we append text, otherwise ignore
    if entity.label_ == org:
        org_list.append(entity.text)

org_list

['Apple']

In [13]:
set(org_list)

{'Apple'}

Transformer

In [4]:
trf = spacy.load('en_core_web_trf')

In [14]:
doc_trf = trf(txt)

In [15]:
displacy.render(doc_trf, style='ent', jupyter = True)